name: tickzap

services:
  # api:
  #   container_name: api
  #   build:
  #     context: .
  #     dockerfile: apps/api/Dockerfile
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - database
  #   volumes:
  #     - .:/app
  #   networks:
  #     - tickzap_network

  # web:
  #   container_name: web
  #   build:
  #     context: .
  #     dockerfile: apps/web/Dockerfile
  #   ports:
  #     - "5173:5173"
  #   depends_on:
  #     - api
  #   volumes:
  #     - .:/app
  #   networks:
  #     - tickzap_network

  database:
    image: postgres:latest
    environment:
      POSTGRES_USER: 'tickzap'
      POSTGRES_PASSWORD: 'secret'
      POSTGRES_DB: 'tickzap'
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      - tickzap_network
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000" # Porta da API
      - "9001:9001" # Porta da Interface Web
    environment:
      MINIO_ROOT_USER: 'tickzap'
      MINIO_ROOT_PASSWORD: 'minioadmin'
    volumes:
      - minio_data:/data
    networks:
      - tickzap_network
    command: server /data --console-address ":9001"

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    networks:
      - tickzap_network

volumes:
  db_data:
  minio_data:


networks:
  tickzap_network:
    driver: bridge
