name: tickzap

services:
  api:
    build:
      context: ../tickzap-api
      target: dev
    ports:
      - "3000:3000"
    depends_on:
      - database
    volumes:
      - ../tickzap-api:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - tickzap_network
      - evolution-net
      - tickzap_ai_network

  frontend:
    build:
      context: ../tickzap-frontend
      target: dev
    ports:
      - "5173:5173"
    depends_on:
      - api
    volumes:
      - ../tickzap-frontend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - tickzap_network

  database:
    image: postgres:latest
    environment:
      POSTGRES_USER: 'tickzap'
      POSTGRES_PASSWORD: 'secret'
      POSTGRES_DB: 'tickzap'
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      - tickzap_network
      - tickzap_ai_network
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"  # Porta da API
      - "9001:9001"  # Porta da Interface Web
    environment:
      MINIO_ROOT_USER: 'tickzap'
      MINIO_ROOT_PASSWORD: 'minioadmin'
    volumes:
      - minio_data:/data
    networks:
      - tickzap_network
    command: server /data --console-address ":9001"

volumes:
  db_data:
  minio_data:

networks:
  tickzap_network:
    driver: bridge

  evolution-net:
    external: true

  tickzap_ai_network:
    external: true
